<h1>Edit Your Story</h1>

<%= render 'form', story: @story %>

<%= link_to 'Back to Your FamBook Board', boards_path, class: "btn btn-md btn-primary" %>

<%= link_to 'Back to Your Story Board', board_path(@board),  class: "btn btn-md btn-primary" %>
