<h1>Tell us your Story</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.story_date %></td>
        <td><%= story.title %></td>
        <td><%= story.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to your Story Board', boards_path %>
