<h1>Tell us your Story</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.date %></td>
        <td><%= story.title %></td>
        <td><%= story.description %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
