
<p>
  <strong>Title</strong>
  <%= @story.title%>
</p>
<p>
  <strong>Description</strong>
  <%= @story.description%>
</p>

<%= link_to 'Edit your story', edit_board_story_path(@board, @story), class: "btn btn-md btn-primary" %>
<%= link_to 'Back to your FamBook', @board, class: "btn btn-md btn-primary" %>
