<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to 'Home', root_path %></li>
        <li>
         <% if current_user %>
         <%= link_to 'Log Out', logout_path, method: :delete %>
         <% else %>
          <%= link_to 'Log in', login_path %>
         <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
